<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/styles'); -%>
    <title>Signup</title>
  </head>
  <body>
    <%- include('../partials/nav'); -%>
    <main id="main">
      <section>
        <div class="row justify-content-center">
          <div class="col col-sm-7 col-lg-5 col-xl-3 mt-5 mb-5" id="login-box">
            <h2>Signup</h2>
            <br />
            <p class="text-success"><%= success %></p>
            <p class="text-danger"><%= error %></p>
            <form method="post" action="/signup">
              <input
                class="form-control"
                type="text"
                placeholder="Full Name"
                name="fullName"
                autocomplete="off"
              /><br />
              <input
                class="form-control"
                type="text"
                placeholder="Username"
                autocomplete="off"
                name="username"
              /><br />
              <input
                class="form-control"
                type="email"
                placeholder="Email"
                autocomplete="off"
                name="email"
              /><br />
              <input
                class="form-control"
                type="text"
                placeholder="Phone"
                autocomplete="off"
                name="phone"
              /><br />
              <textarea
                name="address"
                class="form-control"
                cols="30"
                rows="3"
                autocomplete="off"
                placeholder="Address"
              ></textarea
              ><br />
              <input
                class="form-control"
                type="password"
                placeholder="Password"
                name="password"
                autocomplete="new-password"
                id="password"
              /><br />
              <input
                class="form-control"
                type="password"
                placeholder="Confirm Password"
                name="confirmPassword"
                autocomplete="off"
                id="confirmPassword"
              /><br />
              <button class="btn-lg btn-dark btn-block" type="submit">
                Create Account</button
              ><br />
            </form>
            <div class="text-center">
              <a href="/login">Already have an account? Log in!</a>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
  <%- include('../partials/scripts'); -%>
  
  <!-- Password match check -->
  <script>
    var password = document.getElementById("password"),
      confirm_password = document.getElementById("confirmPassword");

    function validatePassword() {
      if (password.value != confirmPassword.value) {
        confirmPassword.setCustomValidity("Passwords Don't Match");
      } else {
        confirmPassword.setCustomValidity("");
      }
    }

    password.onchange = validatePassword;
    confirmPassword.onkeyup = validatePassword;
  </script>
</html>
